body {
  height: 100%;
  width: 100%;
  margin: unset;
  padding: unset;
}

h1:hover {
  margin: unset;
  font-size: 100px;
}

.main-header {
  background-color: #094a02;
  padding: 20px;
}

.header-title {
  color: #fff;
  font-size: 25px;
}

.button {
  background-color: #fff;
  color: #094a02;
  font-size: 30px;
  border-radius: 10px;
  border-style: solid;
  border-color: yellow;
  border-width: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 20px;
}
.mb-2 {
  margin-bottom: 20px;
}

.ml-1 {
  margin-left: 20px;
}
.ml-2 {
  margin-left: 20px;
}

.mr-1 {
  margin-right: 20px;
}
.mr-2 {
  margin-right: 20px;
}